<!doctype html>
<html>
  <head>
    <meta charset="utf-8">

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,300,700' rel='stylesheet' type='text/css'>

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "Casting for a Cure" %></title>

    <%= stylesheet_link_tag "normalize", "all" %>
    <%= javascript_include_tag  "all" %>
  </head>

  <header>
    <div class="container">
      <a href="/" class="logo-wrap">
        <h1>Casting for a Cure</h1>
      </a>
      <nav>
        <ul>
          <li><a href="/about">About</a></li>
          <li><a href="/stories">Stories</a></li>
          <li><a href="/donations">Donations</a></li>
          <li><a href="/sponsors">Sponsors</a></li>
          <li class="button">
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
              <input type="hidden" name="cmd" value="_s-xclick">
              <input type="hidden" name="hosted_button_id" value="LY6CQ8GVNED4S">
              <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
              <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
            </form>

          </li>
        </ul>
      </nav>
    </div>
  </header>

  <div class="hero">
    <div class="container">
      <h1>Casting for a Cure</h1>
      <h2>May 3, 2014 | 12:00 &ndash; 4:00pm</h3>
    </div>
  </div>

  <body class="<%= page_classes %>">
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
